@import "tailwindcss";

@font-face {
    font-family: "YGO Matrix Small Caps";
    src: url("/fonts/matrix-small-caps.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "YGO Stone Serif Small Caps";
    src: url("/fonts/stone-serif-small-caps-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "YGO Matrix Book";
    src: url("/fonts/matrix-book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "YGO Eurostile Candy";
    src: url("/fonts/eurostile-candy-semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "YGO Times New Roman";
    src: url("/fonts/times-new-roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "YGO Times New Roman";
    src: url("/fonts/times-new-roman-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

input:disabled,
select:disabled,
textarea:disabled,
input[readonly],
select[readonly],
textarea[readonly] {
    opacity: 0.5;
    cursor: not-allowed;
}

.no-emoji {
    font-family: "Segoe UI Symbol", Arial, sans-serif !important;
}

.font-yugioh {
    font-family: "YGO Matrix Small Caps", serif;
    font-size: 2rem;
}
